body {
    margin: 0;
    font-family: cursive;
    background-color: black;
  }
  
  h1 {
    text-align: center;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
  }
  
  .color-container {
    background-color: rgb(163, 125, 54);
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: solid black 2px;
    border-radius: 10px;
  }